* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    
  }
 
   #app {
     margin: 0 5%;
   }
 
  #gameborder {
    display: block;
    
    max-width: 700px;
    padding: 0 auto;
    margin: 0 auto;
    border: 3px solid lightcyan;
  }

  #title {
    position: relative;
    top: 5px;
    width: 99.5%;
    height: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
    background-color:white;
    color: black;
    font-style: italic;
    /*border-top: 3px solid lightcyan;
    border-left: 2px solid lightcyan;
    border-right: 2px solid lightcyan;
    border-bottom: none;*/
    padding: 4px 0 5px 0;
    background-color: lightgray;
    
    
    
  }
  .popup{
    background-color: rgba(88, 87, 75, 0.5);
    width: 350px;
    padding: 10px 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
  
    text-align: center;
    z-index: 5;
}
.popup h2,h3 {
  margin-top: 10px;
}
.popup #close {
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup button {
  padding: 3px 5px;
}
  .banner {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: lightcyan;
    
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    
  }
  
  header a {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 10px 10px 15px;
    padding: 0 5px;
    color: white;
    text-decoration: none;
   
  }
  
  a:hover {
    cursor: pointer;
    background-color: rgba(236, 214, 16, 0.5);
  
  }

  .instbox {
    margin: 0 auto;
  }
  
  .instructions {
    
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    max-width: 400px;;
    height: 75px;
    border: 3px solid white;
    border-radius: 10px;
    margin: 20px auto;
    padding-bottom: 10px;
  }
  .instructions h2 {
    padding-top: 10px;
    font-size: 14px;
  }
  .panel h3 {
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    margin: auto 5%;
  }
  #save {
    margin-left: 20px;
    margin-right: 20px;
  }

  #clear {
    margin-left: 20px;
    margin-right: 20px;

  }
 
    
  
  
  .custy {
    
    justify-content: center;
    font-size: 10px;
   Padding-right: 3px;
   font-family: 'Press Start 2P', cursive;
   
  }
  .panel {
    font-size: 11px;
    max-width: 500px;
    
  }
  
  
  
  #custom {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    width: 50px;
  }
  
  
  li {
    padding-bottom: 10px;
    font-size: 10px;
  }
  .colorchange {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    align-items: center;
    padding-top: 20px;
    max-width: 500px;
    
    


  }
  
  .colorchange [type="button"] {
    margin: 5px -1px;
    text-transform: uppercase;
    background-color: gray;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    padding: 2px;
    cursor: pointer;
    
  }
  .colorchange.hover {
    background-color: rgba(0, 0, 0, alp.7a);
  }
  .clear {
    text-align: center;
  }
  
  
  body, html {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
  }

  #aaaa,
  #bbbb,
  #cccc,
  #dddd,
  #eeee,
  #ffff,
  #gggg,
  #hhhh,
  #iiii,
  #jjjj,
  #kkkk,
  #llll,
  #mmmm,
  #nnnn,
  #oooo,
  #pppp,
  #qqqq,
  #rrrr,
  #ssss,
  #tttt,
  #uuuu,
  #vvvv,
  #wwww,
  #xxxx,
  #yyyy,
  #aaa1,
  #bbb1,
  #ccc1,
  #ddd1,
  #eee1,
  #fff1,
  #ggg1,
  #hhh1,
  #iii1,
  #jjj1,
  #kkk1,
  #lll1,
  #mmm1,
  #nnn1,
  #ooo1,
  #ppp1,
  #qqq1,
  #rrr1,
  #sss1,
  #ttt1,
  #uuu1,
  #vvv1,
  #www1,
  #xxx1,
  #yyy1,
  #aaaa1,
  #bbbb1,
  #cccc1,
  #dddd1,
  #eeee1,
  #ffff1,
  #gggg1,
  #hhhh1,
  #iiii1,
  #jjjj1,
  #kkkk1,
  #llll1,
  #mmmm1,
  #nnnn1,
  #oooo1,
  #pppp1,
  #qqqq1,
  #rrrr1,
  #ssss1,
  #tttt1,
  #uuuu1,
  #vvvv1,
  #wwww1,
  #xxxx1,
  #yyyy1,
  #aaa,
  #bbb,
  #ccc,
  #ddd,
  #eee,
  #fff,
  #ggg,
  #hhh,
  #iii,
  #jjj,
  #kkk,
  #lll,
  #mmm,
  #nnn,
  #ooo,
  #ppp,
  #qqq,
  #rrr,
  #sss,
  #ttt,
  #uuu,
  #vvv,
  #www,
  #xxx,
  #yyy,
  #aaaa0,
  #bbbb0,
  #cccc0,
  #dddd0,
  #eeee0,
  #ffff0,
  #gggg0,
  #hhhh0,
  #iiii0,
  #jjjj0,
  #kkkk0,
  #llll0,
  #mmmm0,
  #nnnn0,
  #oooo0,
  #pppp0,
  #qqqq0,
  #rrrr0,
  #ssss0,
  #tttt0,
  #uuuu0,
  #vvvv0,
  #wwww0,
  #xxxx0,
  #yyyy0,
  #aaa10,
  #bbb10,
  #ccc10,
  #ddd10,
  #eee10,
  #fff10,
  #ggg10,
  #hhh10,
  #iii10,
  #jjj10,
  #kkk10,
  #lll10,
  #mmm10,
  #nnn10,
  #ooo10,
  #ppp10,
  #qqq10,
  #rrr10,
  #sss10,
  #ttt10,
  #uuu10,
  #vvv10,
  #www10,
  #xxx10,
  #yyy10,
  #aaaa10,
  #bbbb10,
  #cccc10,
  #dddd10,
  #eeee10,
  #ffff10,
  #gggg10,
  #hhhh10,
  #iiii10,
  #jjjj10,
  #kkkk10,
  #llll10,
  #mmmm10,
  #nnnn10,
  #oooo10,
  #pppp10,
  #qqqq10,
  #rrrr10,
  #ssss10,
  #tttt10,
  #uuuu10,
  #vvvv10,
  #wwww10,
  #xxxx10,
  #yyyy10,
  #aaa0,
  #bbb0,
  #ccc0,
  #ddd0,
  #eee0,
  #fff0,
  #ggg0,
  #hhh0,
  #iii0,
  #jjj0,
  #kkk0,
  #lll0,
  #mmm0,
  #nnn0,
  #ooo0,
  #ppp0,
  #qqq0,
  #rrr0,
  #sss0,
  #ttt0,
  #uuu0,
  #vvv0,
  #www0,
  #xxx0,
  #yyy0,
  #aaaaf,
  #bbbbf,
  #ccccf,
  #ddddf,
  #eeeef,
  #fffff,
  #ggggf,
  #hhhhf,
  #iiiif,
  #jjjjf,
  #kkkkf,
  #llllf,
  #mmmmf,
  #nnnnf,
  #oooof,
  #ppppf,
  #qqqqf,
  #rrrrf,
  #ssssf,
  #ttttf,
  #uuuuf,
  #vvvvf,
  #wwwwf,
  #xxxxf,
  #yyyyf,
  #aaa1f,
  #bbb1f,
  #ccc1f,
  #ddd1f,
  #eee1f,
  #fff1f,
  #ggg1f,
  #hhh1f,
  #iii1f,
  #jjj1f,
  #kkk1f,
  #lll1f,
  #mmm1f,
  #nnn1f,
  #ooo1f,
  #ppp1f,
  #qqq1f,
  #rrr1f,
  #sss1f,
  #ttt1f,
  #uuu1f,
  #vvv1f,
  #www1f,
  #xxx1f,
  #yyy1f,
  #aaaa1f,
  #bbbb1f,
  #cccc1f,
  #dddd1f,
  #eeee1f,
  #ffff1f,
  #gggg1f,
  #hhhh1f,
  #iiii1f,
  #jjjj1f,
  #kkkk1f,
  #llll1f,
  #mmmm1f,
  #nnnn1f,
  #oooo1f,
  #pppp1f,
  #qqqq1f,
  #rrrr1f,
  #ssss1f,
  #tttt1f,
  #uuuu1f,
  #vvvv1f,
  #wwww1f,
  #xxxx1f,
  #yyyy1f,
  #aaaf,
  #bbbf,
  #cccf,
  #dddf,
  #eeef,
  #fffg,
  #gggf,
  #hhhf,
  #iiif,
  #jjjf,
  #kkkf,
  #lllf,
  #mmmf,
  #nnnf,
  #ooof,
  #pppf,
  #qqqf,
  #rrrf,
  #sssf,
  #tttf,
  #uuuf,
  #vvvf,
  #wwwf,
  #xxxf,
  #yyyf,
  #aaaa0f,
  #bbbb0f,
  #cccc0f,
  #dddd0f,
  #eeee0f,
  #ffff0f,
  #gggg0f,
  #hhhh0f,
  #iiii0f,
  #jjjj0f,
  #kkkk0f,
  #llll0f,
  #mmmm0f,
  #nnnn0f,
  #oooo0f,
  #pppp0f,
  #qqqq0f,
  #rrrr0f,
  #ssss0f,
  #tttt0f,
  #uuuu0f,
  #vvvv0f,
  #wwww0f,
  #xxxx0f,
  #yyyy0f,
  #aaa10f,
  #bbb10f,
  #ccc10f,
  #ddd10f,
  #eee10f,
  #fff10f,
  #ggg10f,
  #hhh10f,
  #iii10f,
  #jjj10f,
  #kkk10f,
  #lll10f,
  #mmm10f,
  #nnn10f,
  #ooo10f,
  #ppp10f,
  #qqq10f,
  #rrr10f,
  #sss10f,
  #ttt10f,
  #uuu10f,
  #vvv10f,
  #www10f,
  #xxx10f,
  #yyy10f,
  #aaaa10f,
  #bbbb10f,
  #cccc10f,
  #dddd10f,
  #eeee10f,
  #ffff10f,
  #gggg10f,
  #hhhh10f,
  #iiii10f,
  #jjjj10f,
  #kkkk10f,
  #llll10f,
  #mmmm10f,
  #nnnn10f,
  #oooo10f,
  #pppp10f,
  #qqqq10f,
  #rrrr10f,
  #ssss10f,
  #tttt10f,
  #uuuu10f,
  #vvvv10f,
  #wwww10f,
  #xxxx10f,
  #yyyy10f,
  #aaa0f,
  #bbb0f,
  #ccc0f,
  #ddd0f,
  #eee0f,
  #fff0f,
  #ggg0f,
  #hhh0f,
  #iii0f,
  #jjj0f,
  #kkk0f,
  #lll0f,
  #mmm0f,
  #nnn0f,
  #ooo0f,
  #ppp0f,
  #qqq0f,
  #rrr0f,
  #sss0f,
  #ttt0f,
  #uuu0f,
  #vvv0f,
  #www0f,
  #xxx0f,
  #yyy0f,
  #aaaa9,
  #bbbb9,
  #cccc9,
  #dddd9,
  #eeee9,
  #ffff9,
  #gggg9,
  #hhhh9,
  #iiii9,
  #jjjj9,
  #kkkk9,
  #llll9,
  #mmmm9,
  #nnnn9,
  #oooo9,
  #pppp9,
  #qqqq9,
  #rrrr9,
  #ssss9,
  #tttt9,
  #uuuu9,
  #vvvv9,
  #wwww9,
  #xxxx9,
  #yyyy9,
  #aaa19,
  #bbb19,
  #ccc19,
  #ddd19,
  #eee19,
  #fff19,
  #ggg19,
  #hhh19,
  #iii19,
  #jjj19,
  #kkk19,
  #lll19,
  #mmm19,
  #nnn19,
  #ooo19,
  #ppp19,
  #qqq19,
  #rrr19,
  #sss19,
  #ttt19,
  #uuu19,
  #vvv19,
  #www19,
  #xxx19,
  #yyy19,
  #aaaa19,
  #bbbb19,
  #cccc19,
  #dddd19,
  #eeee19,
  #ffff19,
  #gggg19,
  #hhhh19,
  #iiii19,
  #jjjj19,
  #kkkk19,
  #llll19,
  #mmmm19,
  #nnnn19,
  #oooo19,
  #pppp19,
  #qqqq19,
  #rrrr19,
  #ssss19,
  #tttt19,
  #uuuu19,
  #vvvv19,
  #wwww19,
  #xxxx19,
  #yyyy19,
  #aaa9,
  #bbb9,
  #ccc9,
  #ddd9,
  #eee9,
  #fff9,
  #ggg9,
  #hhh9,
  #iii9,
  #jjj9,
  #kkk9,
  #lll9,
  #mmm9,
  #nnn9,
  #ooo9,
  #ppp9,
  #qqq9,
  #rrr9,
  #sss9,
  #ttt9,
  #uuu9,
  #vvv9,
  #www9,
  #xxx9,
  #yyy9,
  #aaaa09,
  #bbbb09,
  #cccc09,
  #dddd09,
  #eeee09,
  #ffff09,
  #gggg09,
  #hhhh09,
  #iiii09,
  #jjjj09,
  #kkkk09,
  #llll09,
  #mmmm09,
  #nnnn09,
  #oooo09,
  #pppp09,
  #qqqq09,
  #rrrr09,
  #ssss09,
  #tttt09,
  #uuuu09,
  #vvvv09,
  #wwww09,
  #xxxx09,
  #yyyy09,
  #aaa109,
  #bbb109,
  #ccc109,
  #ddd109,
  #eee109,
  #fff109,
  #ggg109,
  #hhh109,
  #iii109,
  #jjj109,
  #kkk109,
  #lll109,
  #mmm109,
  #nnn109,
  #ooo109,
  #ppp109,
  #qqq109,
  #rrr109,
  #sss109,
  #ttt109,
  #uuu109,
  #vvv109,
  #www109,
  #xxx109,
  #yyy109,
  #aaaa109,
  #bbbb109,
  #cccc109,
  #dddd109,
  #eeee109,
  #ffff109,
  #gggg109,
  #hhhh109,
  #iiii109,
  #jjjj109,
  #kkkk109,
  #llll109,
  #mmmm109,
  #nnnn109,
  #oooo109,
  #pppp109,
  #qqqq109,
  #rrrr109,
  #ssss109,
  #tttt109,
  #uuuu109,
  #vvvv109,
  #wwww109,
  #xxxx109,
  #yyyy109,
  #aaa09,
  #bbb09,
  #ccc09,
  #ddd09,
  #eee09,
  #fff09,
  #ggg09,
  #hhh09,
  #iii09,
  #jjj09,
  #kkk09,
  #lll09,
  #mmm09,
  #nnn09,
  #ooo09,
  #ppp09,
  #qqq09,
  #rrr09,
  #sss09,
  #ttt09,
  #uuu09,
  #vvv09,
  #www09,
  #xxx09,
  #yyy09,
  #aaaaf9,
  #bbbbf9,
  #ccccf9,
  #ddddf9,
  #eeeef9,
  #fffff9,
  #ggggf9,
  #hhhhf9,
  #iiiif9,
  #jjjjf9,
  #kkkkf9,
  #llllf9,
  #mmmmf9,
  #nnnnf9,
  #oooof9,
  #ppppf9,
  #qqqqf9,
  #rrrrf9,
  #ssssf9,
  #ttttf9,
  #uuuuf9,
  #vvvvf9,
  #wwwwf9,
  #xxxxf9,
  #yyyyf9,
  #aaa1f9,
  #bbb1f9,
  #ccc1f9,
  #ddd1f9,
  #eee1f9,
  #fff1f9,
  #ggg1f9,
  #hhh1f9,
  #iii1f9,
  #jjj1f9,
  #kkk1f9,
  #lll1f9,
  #mmm1f9,
  #nnn1f9,
  #ooo1f9,
  #ppp1f9,
  #qqq1f9,
  #rrr1f9,
  #sss1f9,
  #ttt1f9,
  #uuu1f9,
  #vvv1f9,
  #www1f9,
  #xxx1f9,
  #yyy1f9,
  #aaaa1f9,
  #bbbb1f9,
  #cccc1f9,
  #dddd1f9,
  #eeee1f9,
  #ffff1f9,
  #gggg1f9,
  #hhhh1f9,
  #iiii1f9,
  #jjjj1f9,
  #kkkk1f9,
  #llll1f9,
  #mmmm1f9,
  #nnnn1f9,
  #oooo1f9,
  #pppp1f9,
  #qqqq1f9,
  #rrrr1f9,
  #ssss1f9,
  #tttt1f9,
  #uuuu1f9,
  #vvvv1f9,
  #wwww1f9,
  #xxxx1f9,
  #yyyy1f9,
  #aaaf9,
  #bbbf9,
  #cccf9,
  #dddf9,
  #eeef9,
  #fffg9,
  #gggf9,
  #hhhf9,
  #iiif9,
  #jjjf9,
  #kkkf9,
  #lllf9,
  #mmmf9,
  #nnnf9,
  #ooof9,
  #pppf9,
  #qqqf9,
  #rrrf9,
  #sssf9,
  #tttf9,
  #uuuf9,
  #vvvf9,
  #wwwf9,
  #xxxf9,
  #yyyf9,
  #aaaa0f9,
  #bbbb0f9,
  #cccc0f9,
  #dddd0f9,
  #eeee0f9,
  #ffff0f9,
  #gggg0f9,
  #hhhh0f9,
  #iiii0f9,
  #jjjj0f9,
  #kkkk0f9,
  #llll0f9,
  #mmmm0f9,
  #nnnn0f9,
  #oooo0f9,
  #pppp0f9,
  #qqqq0f9,
  #rrrr0f9,
  #ssss0f9,
  #tttt0f9,
  #uuuu0f9,
  #vvvv0f9,
  #wwww0f9,
  #xxxx0f9,
  #yyyy0f9,
  #aaa10f9,
  #bbb10f9,
  #ccc10f9,
  #ddd10f9,
  #eee10f9,
  #fff10f9,
  #ggg10f9,
  #hhh10f9,
  #iii10f9,
  #jjj10f9,
  #kkk10f9,
  #lll10f9,
  #mmm10f9,
  #nnn10f9,
  #ooo10f9,
  #ppp10f9,
  #qqq10f9,
  #rrr10f9,
  #sss10f9,
  #ttt10f9,
  #uuu10f9,
  #vvv10f9,
  #www10f9,
  #xxx10f9,
  #yyy10f9,
  #aaaa10f9,
  #bbbb10f9,
  #cccc10f9,
  #dddd10f9,
  #eeee10f9,
  #ffff10f9,
  #gggg10f9,
  #hhhh10f9,
  #iiii10f9,
  #jjjj10f9,
  #kkkk10f9,
  #llll10f9,
  #mmmm10f9,
  #nnnn10f9,
  #oooo10f9,
  #pppp10f9,
  #qqqq10f9,
  #rrrr10f9,
  #ssss10f9,
  #tttt10f9,
  #uuuu10f9,
  #vvvv10f9,
  #wwww10f9,
  #xxxx10f9,
  #yyyy10f9,
  #aaa0f9,
  #bbb0f9,
  #ccc0f9,
  #ddd0f9,
  #eee0f9,
  #fff0f9,
  #ggg0f9,
  #hhh0f9,
  #iii0f9,
  #jjj0f9,
  #kkk0f9,
  #lll0f9,
  #mmm0f9,
  #nnn0f9,
  #ooo0f9,
  #ppp0f9,
  #qqq0f9,
  #rrr0f9,
  #sss0f9,
  #ttt0f9,
  #uuu0f9,
  #vvv0f9,
  #www0f9,
  #xxx0f9,
  #yyy0f9,
  #aaaa8,
  #bbbb8,
  #cccc8,
  #dddd8,
  #eeee8,
  #ffff8,
  #gggg8,
  #hhhh8,
  #iiii8,
  #jjjj8,
  #kkkk8,
  #llll8,
  #mmmm8,
  #nnnn8,
  #oooo8,
  #pppp8,
  #qqqq8,
  #rrrr8,
  #ssss8,
  #tttt8,
  #uuuu8,
  #vvvv8,
  #wwww8,
  #xxxx8,
  #yyyy8,
  #aaa18,
  #bbb18,
  #ccc18,
  #ddd18,
  #eee18,
  #fff18,
  #ggg18,
  #hhh18,
  #iii18,
  #jjj18,
  #kkk18,
  #lll18,
  #mmm18,
  #nnn18,
  #ooo18,
  #ppp18,
  #qqq18,
  #rrr18,
  #sss18,
  #ttt18,
  #uuu18,
  #vvv18,
  #www18,
  #xxx18,
  #yyy18,
  #aaaa18,
  #bbbb18,
  #cccc18,
  #dddd18,
  #eeee18,
  #ffff18,
  #gggg18,
  #hhhh18,
  #iiii18,
  #jjjj18,
  #kkkk18,
  #llll18,
  #mmmm18,
  #nnnn18,
  #oooo18,
  #pppp18,
  #qqqq18,
  #rrrr18,
  #ssss18,
  #tttt18,
  #uuuu18,
  #vvvv18,
  #wwww18,
  #xxxx18,
  #yyyy18,
  #aaa8,
  #bbb8,
  #ccc8,
  #ddd8,
  #eee8,
  #fff8,
  #ggg8,
  #hhh8,
  #iii8,
  #jjj8,
  #kkk8,
  #lll8,
  #mmm8,
  #nnn8,
  #ooo8,
  #ppp8,
  #qqq8,
  #rrr8,
  #sss8,
  #ttt8,
  #uuu8,
  #vvv8,
  #www8,
  #xxx8,
  #yyy8,
  #aaaa08,
  #bbbb08,
  #cccc08,
  #dddd08,
  #eeee08,
  #ffff08,
  #gggg08,
  #hhhh08,
  #iiii08,
  #jjjj08,
  #kkkk08,
  #llll08,
  #mmmm08,
  #nnnn08,
  #oooo08,
  #pppp08,
  #qqqq08,
  #rrrr08,
  #ssss08,
  #tttt08,
  #uuuu08,
  #vvvv08,
  #wwww08,
  #xxxx08,
  #yyyy08,
  #aaa108,
  #bbb108,
  #ccc108,
  #ddd108,
  #eee108,
  #fff108,
  #ggg108,
  #hhh108,
  #iii108,
  #jjj108,
  #kkk108,
  #lll108,
  #mmm108,
  #nnn108,
  #ooo108,
  #ppp108,
  #qqq108,
  #rrr108,
  #sss108,
  #ttt108,
  #uuu108,
  #vvv108,
  #www108,
  #xxx108,
  #yyy108,
  #aaaa108,
  #bbbb108,
  #cccc108,
  #dddd108,
  #eeee108,
  #ffff108,
  #gggg108,
  #hhhh108,
  #iiii108,
  #jjjj108,
  #kkkk108,
  #llll108,
  #mmmm108,
  #nnnn108,
  #oooo108,
  #pppp108,
  #qqqq108,
  #rrrr108,
  #ssss108,
  #tttt108,
  #uuuu108,
  #vvvv108,
  #wwww108,
  #xxxx108,
  #yyyy108,
  #aaa08,
  #bbb08,
  #ccc08,
  #ddd08,
  #eee08,
  #fff08,
  #ggg08,
  #hhh08,
  #iii08,
  #jjj08,
  #kkk08,
  #lll08,
  #mmm08,
  #nnn08,
  #ooo08,
  #ppp08,
  #qqq08,
  #rrr08,
  #sss08,
  #ttt08,
  #uuu08,
  #vvv08,
  #www08,
  #xxx08,
  #yyy08,
  #aaaaf8,
  #bbbbf8,
  #ccccf8,
  #ddddf8,
  #eeeef8,
  #fffff8,
  #ggggf8,
  #hhhhf8,
  #iiiif8,
  #jjjjf8,
  #kkkkf8,
  #llllf8,
  #mmmmf8,
  #nnnnf8,
  #oooof8,
  #ppppf8,
  #qqqqf8,
  #rrrrf8,
  #ssssf8,
  #ttttf8,
  #uuuuf8,
  #vvvvf8,
  #wwwwf8,
  #xxxxf8,
  #yyyyf8,
  #aaa1f8,
  #bbb1f8,
  #ccc1f8,
  #ddd1f8,
  #eee1f8,
  #fff1f8,
  #ggg1f8,
  #hhh1f8,
  #iii1f8,
  #jjj1f8,
  #kkk1f8,
  #lll1f8,
  #mmm1f8,
  #nnn1f8,
  #ooo1f8,
  #ppp1f8,
  #qqq1f8,
  #rrr1f8,
  #sss1f8,
  #ttt1f8,
  #uuu1f8,
  #vvv1f8,
  #www1f8,
  #xxx1f8,
  #yyy1f8,
  #aaaa1f8,
  #bbbb1f8,
  #cccc1f8,
  #dddd1f8,
  #eeee1f8,
  #ffff1f8,
  #gggg1f8,
  #hhhh1f8,
  #iiii1f8,
  #jjjj1f8,
  #kkkk1f8,
  #llll1f8,
  #mmmm1f8,
  #nnnn1f8,
  #oooo1f8,
  #pppp1f8,
  #qqqq1f8,
  #rrrr1f8,
  #ssss1f8,
  #tttt1f8,
  #uuuu1f8,
  #vvvv1f8,
  #wwww1f8,
  #xxxx1f8,
  #yyyy1f8,
  #aaaf8,
  #bbbf8,
  #cccf8,
  #dddf8,
  #eeef8,
  #fffg8,
  #gggf8,
  #hhhf8,
  #iiif8,
  #jjjf8,
  #kkkf8,
  #lllf8,
  #mmmf8,
  #nnnf8,
  #ooof8,
  #pppf8,
  #qqqf8,
  #rrrf8,
  #sssf8,
  #tttf8,
  #uuuf8,
  #vvvf8,
  #wwwf8,
  #xxxf8,
  #yyyf8,
  #aaaa0f8,
  #bbbb0f8,
  #cccc0f8,
  #dddd0f8,
  #eeee0f8,
  #ffff0f8,
  #gggg0f8,
  #hhhh0f8,
  #iiii0f8,
  #jjjj0f8,
  #kkkk0f8,
  #llll0f8,
  #mmmm0f8,
  #nnnn0f8,
  #oooo0f8,
  #pppp0f8,
  #qqqq0f8,
  #rrrr0f8,
  #ssss0f8,
  #tttt0f8,
  #uuuu0f8,
  #vvvv0f8,
  #wwww0f8,
  #xxxx0f8,
  #yyyy0f8,
  #aaa10f8,
  #bbb10f8,
  #ccc10f8,
  #ddd10f8,
  #eee10f8,
  #fff10f8,
  #ggg10f8,
  #hhh10f8,
  #iii10f8,
  #jjj10f8,
  #kkk10f8,
  #lll10f8,
  #mmm10f8,
  #nnn10f8,
  #ooo10f8,
  #ppp10f8,
  #qqq10f8,
  #rrr10f8,
  #sss10f8,
  #ttt10f8,
  #uuu10f8,
  #vvv10f8,
  #www10f8,
  #xxx10f8,
  #yyy10f8,
  #aaaa10f8,
  #bbbb10f8,
  #cccc10f8,
  #dddd10f8,
  #eeee10f8,
  #ffff10f8,
  #gggg10f8,
  #hhhh10f8,
  #iiii10f8,
  #jjjj10f8,
  #kkkk10f8,
  #llll10f8,
  #mmmm10f8,
  #nnnn10f8,
  #oooo10f8,
  #pppp10f8,
  #qqqq10f8,
  #rrrr10f8,
  #ssss10f8,
  #tttt10f8,
  #uuuu10f8,
  #vvvv10f8,
  #wwww10f8,
  #xxxx10f8,
  #yyyy10f8,
  #aaa0f8,
  #bbb0f8,
  #ccc0f8,
  #ddd0f8,
  #eee0f8,
  #fff0f8,
  #ggg0f8,
  #hhh0f8,
  #iii0f8,
  #jjj0f8,
  #kkk0f8,
  #lll0f8,
  #mmm0f8,
  #nnn0f8,
  #ooo0f8,
  #ppp0f8,
  #qqq0f8,
  #rrr0f8,
  #sss0f8,
  #ttt0f8,
  #uuu0f8,
  #vvv0f8,
  #www0f8,
  #xxx0f8,
  #yyy0f8,
  #aaaa98,
  #bbbb98,
  #cccc98,
  #dddd98,
  #eeee98,
  #ffff98,
  #gggg98,
  #hhhh98,
  #iiii98,
  #jjjj98,
  #kkkk98,
  #llll98,
  #mmmm98,
  #nnnn98,
  #oooo98,
  #pppp98,
  #qqqq98,
  #rrrr98,
  #ssss98,
  #tttt98,
  #uuuu98,
  #vvvv98,
  #wwww98,
  #xxxx98,
  #yyyy98,
  #aaa198,
  #bbb198,
  #ccc198,
  #ddd198,
  #eee198,
  #fff198,
  #ggg198,
  #hhh198,
  #iii198,
  #jjj198,
  #kkk198,
  #lll198,
  #mmm198,
  #nnn198,
  #ooo198,
  #ppp198,
  #qqq198,
  #rrr198,
  #sss198,
  #ttt198,
  #uuu198,
  #vvv198,
  #www198,
  #xxx198,
  #yyy198,
  #aaaa198,
  #bbbb198,
  #cccc198,
  #dddd198,
  #eeee198,
  #ffff198,
  #gggg198,
  #hhhh198,
  #iiii198,
  #jjjj198,
  #kkkk198,
  #llll198,
  #mmmm198,
  #nnnn198,
  #oooo198,
  #pppp198,
  #qqqq198,
  #rrrr198,
  #ssss198,
  #tttt198,
  #uuuu198,
  #vvvv198,
  #wwww198,
  #xxxx198,
  #yyyy198,
  #aaa98,
  #bbb98,
  #ccc98,
  #ddd98,
  #eee98,
  #fff98,
  #ggg98,
  #hhh98,
  #iii98,
  #jjj98,
  #kkk98,
  #lll98,
  #mmm98,
  #nnn98,
  #ooo98,
  #ppp98,
  #qqq98,
  #rrr98,
  #sss98,
  #ttt98,
  #uuu98,
  #vvv98,
  #www98,
  #xxx98,
  #yyy98,
  #aaaa098,
  #bbbb098,
  #cccc098,
  #dddd098,
  #eeee098,
  #ffff098,
  #gggg098,
  #hhhh098,
  #iiii098,
  #jjjj098,
  #kkkk098,
  #llll098,
  #mmmm098,
  #nnnn098,
  #oooo098,
  #pppp098,
  #qqqq098,
  #rrrr098,
  #ssss098,
  #tttt098,
  #uuuu098,
  #vvvv098,
  #wwww098,
  #xxxx098,
  #yyyy098,
  #aaa1098,
  #bbb1098,
  #ccc1098,
  #ddd1098,
  #eee1098,
  #fff1098,
  #ggg1098,
  #hhh1098,
  #iii1098,
  #jjj1098,
  #kkk1098,
  #lll1098,
  #mmm1098,
  #nnn1098,
  #ooo1098,
  #ppp1098,
  #qqq1098,
  #rrr1098,
  #sss1098,
  #ttt1098,
  #uuu1098,
  #vvv1098,
  #www1098,
  #xxx1098,
  #yyy1098,
  #aaaa1098,
  #bbbb1098,
  #cccc1098,
  #dddd1098,
  #eeee1098,
  #ffff1098,
  #gggg1098,
  #hhhh1098,
  #iiii1098,
  #jjjj1098,
  #kkkk1098,
  #llll1098,
  #mmmm1098,
  #nnnn1098,
  #oooo1098,
  #pppp1098,
  #qqqq1098,
  #rrrr1098,
  #ssss1098,
  #tttt1098,
  #uuuu1098,
  #vvvv1098,
  #wwww1098,
  #xxxx1098,
  #yyyy1098,
  #aaa098,
  #bbb098,
  #ccc098,
  #ddd098,
  #eee098,
  #fff098,
  #ggg098,
  #hhh098,
  #iii098,
  #jjj098,
  #kkk098,
  #lll098,
  #mmm098,
  #nnn098,
  #ooo098,
  #ppp098,
  #qqq098,
  #rrr098,
  #sss098,
  #ttt098,
  #uuu098,
  #vvv098,
  #www098,
  #xxx098,
  #yyy098,
  #aaaaf98,
  #bbbbf98,
  #ccccf98,
  #ddddf98,
  #eeeef98,
  #fffff98,
  #ggggf98,
  #hhhhf98,
  #iiiif98,
  #jjjjf98,
  #kkkkf98,
  #llllf98,
  #mmmmf98,
  #nnnnf98,
  #oooof98,
  #ppppf98,
  #qqqqf98,
  #rrrrf98,
  #ssssf98,
  #ttttf98,
  #uuuuf98,
  #vvvvf98,
  #wwwwf98,
  #xxxxf98,
  #yyyyf98,
  #aaa1f98,
  #bbb1f98,
  #ccc1f98,
  #ddd1f98,
  #eee1f98,
  #fff1f98,
  #ggg1f98,
  #hhh1f98,
  #iii1f98,
  #jjj1f98,
  #kkk1f98,
  #lll1f98,
  #mmm1f98,
  #nnn1f98,
  #ooo1f98,
  #ppp1f98,
  #qqq1f98,
  #rrr1f98,
  #sss1f98,
  #ttt1f98,
  #uuu1f98,
  #vvv1f98,
  #www1f98,
  #xxx1f98,
  #yyy1f98,
  #aaaa1f98,
  #bbbb1f98,
  #cccc1f98,
  #dddd1f98,
  #eeee1f98,
  #ffff1f98,
  #gggg1f98,
  #hhhh1f98,
  #iiii1f98,
  #jjjj1f98,
  #kkkk1f98,
  #llll1f98,
  #mmmm1f98,
  #nnnn1f98,
  #oooo1f98,
  #pppp1f98,
  #qqqq1f98,
  #rrrr1f98,
  #ssss1f98,
  #tttt1f98,
  #uuuu1f98,
  #vvvv1f98,
  #wwww1f98,
  #xxxx1f98,
  #yyyy1f98,
  #aaaf98,
  #bbbf98,
  #cccf98,
  #dddf98,
  #eeef98,
  #fffg98,
  #gggf98,
  #hhhf98,
  #iiif98,
  #jjjf98,
  #kkkf98,
  #lllf98,
  #mmmf98,
  #nnnf98,
  #ooof98,
  #pppf98,
  #qqqf98,
  #rrrf98,
  #sssf98,
  #tttf98,
  #uuuf98,
  #vvvf98,
  #wwwf98,
  #xxxf98,
  #yyyf98,
  #aaaa0f98,
  #bbbb0f98,
  #cccc0f98,
  #dddd0f98,
  #eeee0f98,
  #ffff0f98,
  #gggg0f98,
  #hhhh0f98,
  #iiii0f98,
  #jjjj0f98,
  #kkkk0f98,
  #llll0f98,
  #mmmm0f98,
  #nnnn0f98,
  #oooo0f98,
  #pppp0f98,
  #qqqq0f98,
  #rrrr0f98,
  #ssss0f98,
  #tttt0f98,
  #uuuu0f98,
  #vvvv0f98,
  #wwww0f98,
  #xxxx0f98,
  #yyyy0f98,
  #aaa10f98,
  #bbb10f98,
  #ccc10f98,
  #ddd10f98,
  #eee10f98,
  #fff10f98,
  #ggg10f98,
  #hhh10f98,
  #iii10f98,
  #jjj10f98,
  #kkk10f98,
  #lll10f98,
  #mmm10f98,
  #nnn10f98,
  #ooo10f98,
  #ppp10f98,
  #qqq10f98,
  #rrr10f98,
  #sss10f98,
  #ttt10f98,
  #uuu10f98,
  #vvv10f98,
  #www10f98,
  #xxx10f98,
  #yyy10f98,
  #aaaa10f98,
  #bbbb10f98,
  #cccc10f98,
  #dddd10f98,
  #eeee10f98,
  #ffff10f98,
  #gggg10f98,
  #hhhh10f98,
  #iiii10f98,
  #jjjj10f98,
  #kkkk10f98,
  #llll10f98,
  #mmmm10f98,
  #nnnn10f98,
  #oooo10f98,
  #pppp10f98,
  #qqqq10f98,
  #rrrr10f98,
  #ssss10f98,
  #tttt10f98,
  #uuuu10f98,
  #vvvv10f98,
  #wwww10f98,
  #xxxx10f98,
  #yyyy10f98,
  #aaa0f98,
  #bbb0f98,
  #ccc0f98,
  #ddd0f98,
  #eee0f98,
  #fff0f98,
  #ggg0f98,
  #hhh0f98,
  #iii0f98,
  #jjj0f98,
  #kkk0f98,
  #lll0f98,
  #mmm0f98,
  #nnn0f98,
  #ooo0f98,
  #ppp0f98,
  #qqq0f98,
  #rrr0f98,
  #sss0f98,
  #ttt0f98,
  #uuu0f98,
  #vvv0f98,
  #www0f98,
  #xxx0f98,
  #yyy0f98 { 
    touch-action: none;
    position: relative;
      width: 10%;
      height: 0;
      padding-bottom: 2.5%;
    background-color: white;
    /*border: 1px solid red;*/
   margin: 0 -.25px;
   
    
  }
  .container {
    display: flex;
    justify-content: center;
   width: 100%;
   height: 0;
   padding-bottom: 2.5%;
    /*background-color: black;*/
    margin: -.50px 0;
  }
    
  
  #title {
    position: relative;
    width: 99.5%;
    height: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
    background-color:white;
    color: black;
    font-style: italic;
    /*border-top: 3px solid lightcyan;
    border-left: 2px solid lightcyan;
    border-right: 2px solid lightcyan;;
    border-bottom: none;*/
    padding: 4px 0 5px 0;;
    background-color: lightgray;
    
    
    
  }
  
  
  
  
    
   
    
    
    
    
  
  
  